* {
	margin: 0; 
	padding: 0; 
}

body {
	margin: 10px;
	background-color: #e6f2ff;
}

h1 {
	text-align: center;
}

#xPlayer {
	display: block;
	float: left;
}

#oPlayer {
	display: block;
	float: right;
}

#grid {
	position: fixed;
    align-self: center;
	width: 75%;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
}
.row {

	display: block;
	margin-bottom: 0px;
}

span {
	display: block;
}

#xPlayer #oPlayer {
	display: block;
}

.box {
	position: static;
	font-family: 'Finger Paint', cursive;
	display: inline-block;
	padding: 0px; 
	margin: 0px; 
	width: 200px; 
	height: 200px; 
	border: 1px solid #1c1c1c; 
}

.box:hover {
	background-color: #e4e4e4;
}

#completeMove {
	margin: auto;
	display: block;

}

.cross {
	background-color: red;
}

.circle {
	background-color: green;
}
.hidden {
	visibility: hidden;
}
.undoMove {
	margin-top: 5px;
	border-radius: 3px;
	background-color: #ccccff;
	font-size: 15px;
	padding: 10px;
	text-align: center;
}

#myBtn {
	position: fixed;
	top: 700px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}